@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.wrapper
{
    height: 100vh;
    width: 100%;
    background-color: #F2EBE3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    height: 450px;
    max-width: 750px;
    display: flex;
    border: none;
    border-radius: 16px;
    
}
.image img
{
    object-fit: cover;
    max-height: 100%;
    border-radius: 50% 0 0 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.desc-info
{
    background: #FFE5CA;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 0 50% 50% 0;

}
.desc-data
{
    max-width: 300px;
    margin: 30px 45px;
}
.heading
{
    
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #AA9190;
    margin-bottom: 10px;
}
.main-heading
{
    
    font-size: 35px;
    font-weight:800;
    margin-bottom: 10px;
    color: #E74646;
}
.desc
{
   
    color: #AA9190;
    margin-bottom: 10px;
}
.price
{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    font-family: 'Poppins';
    gap: 15px;
}
.new-price
{
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: 800;
    color: #3C8067;
}
.old-price
{
    font-size: 20px;
    font-family: 'Poppins';
    color: #AA9190;
    text-decoration: line-through;
}
.btn-data
{
    border-radius: 12px;
    width: 75%;
    border: none;
    color: #fff;
    background: #B3C99C;
    font-size: 20px;
    
}
.btn
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    cursor: pointer;
    padding: 10px;
}
button:hover
{
    background: #3C8067;
}